<div class="page-content">
<md-card>
  <md-card-title>Alignment comparison</md-card-title>
  <md-card-subtitle>Local and global alignment in BioInformatic</md-card-subtitle>
  <md-input-container>
    <input mdInput placeholder="String 1">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="String 2">
  </md-input-container>
  <md-card-subtitle>Choose a type of alignment</md-card-subtitle>
  <md-slide-toggle>Global alignment</md-slide-toggle>
  <md-slide-toggle>Local alignment</md-slide-toggle>
</md-card>
</div>
